h1{
    color: white;
    text-align: left;
    background-color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.is-centered{
    color:white;
    text-align:center;
    background-color:purple;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    color:black;
    text-align:right;
    background-color: lightblue;
    text-decoration: underline;
    font-family:'Courier New', Courier, monospace;
}
.color{
    color:aqua;
}