*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    max-width: 1270px;
    background-color:white;
    margin: 0px auto;
    padding: 20px;
}
.row{
    height: 300px;
    display:flex;
    justify-content: space-between;
    margin: 30px;
    padding: 20px;
    background-color: pink;
}
.blue{
    background-color: lightblue;
    justify-content: center;
    gap: 20%;
}
.green{
    background-color: lightgreen;
}
h1{
    font-weight: bold;
    color: black;
    font-family: "Helvetica";
    text-align: center;
}
img{
    height: 200px;
    width: 200px;
    border: 2px solid black;

}