*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.container{
    margin-top:20px;
    margin-left:20px;
    padding: 15px;
    width: 800px;
    height:600px;
    background: white;
    border-radius: 5px;
    text-align: left;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.top{
    position: relative;
    bottom: 10px;
    background: teal;
    background-size: cover;
    height: 100px;
    border-radius:5px 5px 0 0;
}
.user{
    position: absolute;
    width: 140px;
    border-radius: 50%;
    border: 2px solid grey;
    padding: 5px;
    margin: 20px;
    background-color: white;
}
h4{
    margin-top: 70px;
    margin-left: 20px;
}
p{
    margin: 20px;
}
.location{
    display: flex;
}
.user img{
    height: 120px;
    margin-left: 3px;
    margin-top: 5px;
}
.location img{
    height:20px;
    display:flex;
    margin-top: 28px;
}
.button img{
    height: 20px;
}
a{
    color:dodgerblue;
}